html {
  position: relative;
  min-height: 100%;
}

body {
    
    padding-top: 80px;
    margin-bottom: 70px;
}

#boton1 {
    background-image: url(https://lh6.googleusercontent.com/-wAGyXc2A4Ak/VOBHhu_GxwI/AAAAAAAAAnA/CculNWadhHI/w984-h553-no/kawaii_ichigo_wallpaper_by_iriname-d5343b0.jpg);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-image: url("https://lh3.googleusercontent.com/-WLNOV3KA5u4/VODJte2lpYI/AAAAAAAAAns/vRZKO2PGorc/w236-h354-no/23210ee16d7d546dba527d1b66db4221.jpg");
}